.wrapper {
  max-width: 46rem;
  margin: 0 auto;
  margin-top: calc(0rem - 1.6875rem);
}

.tasks {
  margin-top: 4rem;
}

.tasks header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.info {
  font-size: 0.75rem;
  font-weight: 700;
  color: var(--blue-300);
}

.info span {
  background: var(--gray-400);
  padding: 0.25rem 0.5rem;
  border-radius: 999px;
}

.tasksList {
  margin-top: 2rem;
  list-style: none;
}

.tasksList li + li {
  margin-top: 1rem;
}